<footer class="footer">
    <div class="footer-column">
        <img class="logo" src="assets/svg/logo.svg" alt="Logo da Barbearia" />
        <p>Transformando estilos e proporcionando experiências únicas desde 2010.</p>
        <img src="assets/svg/insta-icon.svg" alt="Logo do instagram" />
    </div>
    <div class="footer-column">
        <h3>Serviços</h3>
        <ul>
            <li>Corte Clássico</li>
            <li>Barba Completa</li>
            <li>Combo Corte + Barba</li>
            <li>Acabamento Navalhado</li>
        </ul>
    </div>
    <div class="footer-column">
        <h3>Links Rápidos</h3>
        <ul>
            <li>Início</li>
            <li>Serviços</li>
            <li>Barbeiros</li>
            <li>Agendar</li>
        </ul>
    </div>
    <div class="footer-column">
        <h3>Contato</h3>
        <p> <img src="assets/svg/tell-icon.svg" alt="Logo do telefone" />(11) 99999-9999</p>
        <p><img src="assets/svg/loc-icon.svg" alt="Logo da localização" />Av. Paulista, 1000 - São Paulo, SP</p>
        <p><img src="assets/svg/time-icon.svg" alt="Logo do tempo" />Seg-Sex: 9h às 20h / Sáb: 9h às 18h</p>
    </div>
</footer>

<div class="linha">
    <p>© 2023 BarberPro. Todos os direitos reservados.</p>
</div>