.content {
  width: 550px;
  height: 400px;
  margin: 0 auto;
  margin-top: 56px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-top: 80px;
  box-sizing: border-box;
  color: #fff;
}

p {
  font-size: 20px;
  white-space: normal;
  word-wrap: break-word; /* quebra palavra longa se necessário */
  margin: 0;
}
