.content {
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 30px;
  margin: 0 0 20px 0;
  color: #fff;
}

p {
  margin: 0;
  font-size: 13px;
  color: #a1a1aa;
}

.mat-stepper-horizontal {
  margin-top: 8px;
  width: 704px;
  height: 400px;
  background-color: #323239;
  border-radius: 8px;
}
mat-label {
  color: #fff;
  margin-left: 10px;
}

option {
  color: #fff;
}

.mat-mdc-form-field {
  margin-top: 16px;
  width: 100%;
}

.number-one,
.number-two,
.number-three {
  width: 32px;
  height: 32px;
  background-color: aqua;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #3f3f46;
  color: #fff;
}

.next {
  display: flex;
  justify-content: flex-end;
  margin-top: 30px;
}

.botoes {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.botoess {
  display: flex;
  justify-content: space-between;
  max-height: 40px;
}

.next-button {
  width: 108px;
  height: 40px;
  background-color: #d97706;
  color: #fff;
}

.back-button {
  width: 108px;
  height: 40px;
  background-color: #d97706;
  color: #fff;
}

::ng-deep .mat-step-icon {
  display: none;
}

::ng-deep .mdc-text-field__input {
  padding: 18px 0 10px 10px !important;
  border-radius: 8px !important;
  border: 1px solid #52525b !important;
  background-color: #3f3f46 !important;
  color: #fff;
}

::ng-deep .mdc-line-ripple::before {
  display: none !important;
}

::ng-deep .mdc-line-ripple::after {
  display: none !important;
}

::ng-deep .mat-mdc-form-field-subscript-wrapper {
  display: none;
}

::ng-deep
  .mat-mdc-form-field-type-mat-native-select
  .mat-mdc-form-field-infix::after {
  margin-right: 10px;
}

::ng-deep .mdc-text-field--filled:not(.mdc-text-field--disabled) {
  background-color: transparent !important;
}

::ng-deep
  .mat-mdc-text-field-wrapper:not(.mdc-text-field--outlined)
  .mat-mdc-form-field-infix {
  padding: 0 !important;
}

::ng-deep .mdc-text-field {
  padding: 0 !important;
}
