<div class="content">
    <h1>Agende seu horário</h1>
    <p>Escolha o serviço, profissional e horário de sua preferência.</p>
    <mat-stepper [linear]="isLinear" #stepper>
        <!-- Step 1 -->
        <mat-step [stepControl]="detalhesFormGroup">
            <form [formGroup]="detalhesFormGroup">
                <ng-template matStepLabel>
                    <div class="number-one">1</div>
                </ng-template>

                <app-form [listFuncionarios]="listFuncionario" [currentStep]="stepper.selectedIndex"
                    [listServico]="listServico" [detalhesFormGroup]="detalhesFormGroup"></app-form>

                <div class="next">
                    <button [disabled]="!validaCamposStep1()" class="next-button" mat-button
                        matStepperNext>Próximo</button>
                </div>
            </form>
        </mat-step>
        <!-- Step 2 -->
        <mat-step [stepControl]="detalhesFormGroup" label="Fill out your address">
            <form [formGroup]="detalhesFormGroup">
                <ng-template matStepLabel>
                    <div class="number-two">2</div>
                </ng-template>
                <app-form [currentStep]="stepper.selectedIndex" [detalhesFormGroup]="detalhesFormGroup"
                    [listDados]="listDadosPessoais"></app-form>
                <div class="botoes">
                    <button class="back-button" mat-button matStepperPrevious>Voltar</button>
                    <button [disabled]="!validaCamposStep2()" class="next-button" mat-button
                        matStepperNext>Próximo</button>
                </div>
            </form>
        </mat-step>
        <!-- Step 3 -->
        <mat-step>
            <ng-template matStepLabel>
                <div class="number-three">3</div>
            </ng-template>
            <app-form [currentStep]="stepper.selectedIndex" [detalhesFormGroup]="detalhesFormGroup"></app-form>
            <div class="buttons">
                <button mat-button class="back-button" matStepperPrevious>Voltar</button>
                <button mat-button class="next-button" (click)="postAgendamento()">Agendar</button>
            </div>
        </mat-step>
    </mat-stepper>
</div>