/* You can add global styles to this file, and also import other style files */
* {
  font-family: "Inter", sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* pega toda a altura da tela */
}

app-header {
  height: 64px;
  width: 100%;
  flex-shrink: 0; /* Impede que o header e o footer sejam encolhidos mesmo em telas pequenas. */
  background-color: #000000;
  color: #fff;
}

app-footer {
  height: 330px;
  width: 100%;
  flex-shrink: 0;
  background-color: #000000;
  color: #fff;
}

main.conteudo {
  flex: 1; /* Ocupa todo o espaço disponível que sobrou dentro do flex container. */
  flex-direction: column;
  background-color: #19191c;
}

.home-background {
  background-image: url("assets/svg/image-back.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
