form {
}

.step-one {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

mat-label {
  color: #fff;
  margin-left: 10px;
}

select {
  color: #ffff !important;
}

.date-time {
  display: flex;
  width: 100%;
  gap: 30px;
}

.date-time .date,
.date-time .time {
  width: 50%;
}

.date-time input {
  width: 300px;
  color: #fff;
}

/* Styles Step 2 */

.step-two {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.step-two mat-form-field {
  width: 100%;
}

.step-two input {
  width: 644px;
  color: #fff;
}

/* Styles Step 3 */
.step-three .dados-servicos {
  border-bottom: 1px solid #d9770626;
}

.step-three h1 {
  color: #fff;
  margin-bottom: 4px;
}

.step-three p {
  color: #fff;
  margin-bottom: 0;
}
h3 {
  margin-bottom: 8px;
}
.default {
  display: flex;
  gap: 8px;
  color: #d97706;
  margin-bottom: 12px;
}
