form {
}

.step-one {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

mat-label {
  color: #fff;
  margin-left: 10px;
}

select {
  color: #ffff !important;
}

.date-time {
  display: flex;
  width: 100%;
  gap: 30px;
}

.date-time .date,
.date-time .time {
  width: 50%;
}

.date-time input {
  width: 300px;
  color: #fff;
}

/* Styles Step 2 */

.step-two {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.step-two mat-form-field {
  width: 100%;
}

.step-two input {
  width: 644px;
  color: #fff;
}

/* Styles Step 3 */

.step-three .cliente,
.servico,
.profissional,
.data,
.horario {
  display: flex;
  height: 52px;

  align-items: start;
  gap: 6px;
}

.step-three label {
  color: #9ca3af;
  font-size: 12px;
}

.step-three p {
  color: #fff;
  font-size: 14px;
}
